{% extends 'NSAdminBundle::layout.html.twig' %}

{% block content %}
	<h3>Управление страницами</h3>

	<div class="row">
		<div class="span3">
			{{ render(content('NSCmsBundle:AdminPages:blockPagesTree')) }}
		</div>
		<div class="span9">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="{{ url('ns_admin_bundle', { adminBundle: 'NSCmsBundle', adminController: 'pages', adminAction: 'settings' }) }}">Настройки</a>
				</li>
				<li><a href="#">Блоки</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
